<img src="../static/img/JendasWork/4_task/hide_and_seek1_orig.png" width="500" alt="hide_and_seek1_orig.png">
<img src="../static/img/JendasWork/4_task/hide_and_seek1.png" width="500" alt="hide_and_seek1.png">
<img src="../static/img/JendasWork/4_task/hide_and_seek2_orig.png" width="500" alt="hide_and_seek2_orig.png">
<img src="../static/img/JendasWork/4_task/hide_and_seek2.png" width="500" alt="hide_and_seek2.png">
<img src="../static/img/JendasWork/4_task/hide_and_seek3_orig.png" width="500" alt="hide_and_seek3_orig.png">
<img src="../static/img/JendasWork/4_task/hide_and_seek3.png" width="500" alt="hide_and_seek3.png">

<p>Click <a href="https://github.com/JendaPlhak/math_in_python/blob/master/JendasWork/4_task/hide_and_seek.py">here</a> to see the code.</p>