{% extends "template.html" %}
{% block content %}

	{% if task  == '1' %}
		<img src="../static/img/KvagrsWork/1_week/collatzo.png" alt="Collatzo steps for 8000 natural numbers" width="500">
		<p>Click <a href="https://github.com/JendaPlhak/math_in_python/blob/master/KvagrsWork/1_week/collatzo.py">here</a> to see the code.</p>
	{% endif %}
{% endblock %}
{% block side_container %}

<ol id="side_menu">
	<li>Week 1
		<ul class="side_menu">
			<li><a href="/kvapil/1">Collatzo</a></li>
			<li>NSD</li>
		</ul>
	</li>
	<li>Week 2</li>
	<li>Week 3</li>
</ol>
{% endblock%}