{% extends "template.html" %}
{% block content %}
	{% if task == '' %}
	<p>
		Please choose any project you like on the left.
	</p>
	{% elif task  == 'collatzo' %}
		{% block kvapil_collatzo %}
		{% endblock %}
		<p>
		The first task shows some characteristics for Collatzo series. The Collatzo series  $\{ a_i\}_{i=1}^k$ is defined for $n \in \mathbb{N}$ as:<br>
		\begin{align*}
			a_1 &= n\\
			a_i &=
					\left\{\begin{array}{lr}
					\frac{a_{i-1}}{2}	& \text{ if } a_{i-1} \text{ is even}\\
					3a_{i-1} + 1		& \text{ if } a_{i-1} \text{ is odd}\\
					\end{array}
					\right.
		\end{align*}
		The series converges when 1 occurs, because then the series will cycle through $1 \to 4 \to 2 \to 1 \to 4 \ldots$. It is not proven, that the Collatzo series will converge for arbitrary $n \in \mathbb{N}$, however it has been shown for large amount of numbers.
		</p>
		<p>
			The first graph shows the number of steps for first 8000 natural number. By steps we mean the first index $k \in \mathbb{N}$ for which $a_k = 1$ in the series.
		</p>
		<img src="../static/img/KvagrsWork/1_week/collatzo_steps.png" alt="Collatzo steps for 8000 natural numbers" width="500">
		<p>
			The second graph covers another characteristics for Collatzo series, that is the maximum number in the series before it converges. So for $\{ a_i\}_{i=1}^k, a_k = 1$ it is $a_j, 1 \le j \le k$, such $a_j \ge a_i, \forall i, 1 \le i \le k$.
		</p>

		<img src="../static/img/KvagrsWork/1_week/collatzo_max.png" alt="Collatzo maximum for 8000 natural numbers" width="500">

		<p>
			Both graphs encourages that the hypothesis might be true because there are trends in how the series works.
		</p>


		 
		<input type="button" id="buttonCode" value="Show code" />
		<div id="code">
		<pre><code>
import matplotlib.pyplot as plt

def collSteps(n):
	steps = 0
	maxN = n
	while n!=1:
		#print n
		if n%2 == 0:
			n /= 2
		else:
			n = 3*n + 1
		steps += 1
		maxN = max(maxN, n)
	return steps, maxN


def plot_collatzo(x=8000, y=300, maxNumber=False):

	points=[]
	plt.axis([0,x,0,y])
	for i in range(1,y):
		points.append([i, collSteps(i)])
		
		if maxNumber:
			plt.plot( [i],[collSteps(i)[1]], 'ko' )	# collSteps(i)[0] are steps, collSteps(i)[1] are max num in collatzo series
			plt.ylabel('Number of steps')
			plt.savefig('collatzo_max.png')

		else:
			plt.plot( [i],[collSteps(i)[0]], 'ko' )
			plt.ylabel('Number of steps')
			plt.savefig('collatzo_steps.png')

	return


if __name__ == '__main__':

	plot_collatzo()
		</code></pre>
		</div>


		<p>Click <a href="https://github.com/JendaPlhak/math_in_python/blob/master/KvagrsWork/1_week/collatzo.py">here</a> to see the code.</p>
	{% elif task == 'graphics' %}
		<img src="../static/img/KvagrsWork/1_week/orion.svg" alt="Orion star" width="500">
		<img src="../static/img/KvagrsWork/1_week/color_flow.bmp" alt="color_flow" width="500">
		
	{% elif task == 'turtle' %}
		<img src="../static/img/KvagrsWork/3_week/polygon.svg" alt="polygon.svg" width="300;">
		<img src="../static/img/KvagrsWork/3_week/star.svg" alt="star.svg" width="300;">
		<img src="../static/img/KvagrsWork/3_week/squares.svg" alt="squares.svg" width="300">
		<img src="../static/img/KvagrsWork/3_week/triangles.svg" alt="triangles.svg" width="300">

		<p>Click <a href="https://github.com/JendaPlhak/math_in_python/blob/master/KvagrsWork/3_week/turtle.py">here</a> to see the code.</p>

	{% elif task == 'shapes' %}
		<img src="../static/img/KvagrsWork/4_week/circle_filled.bmp" alt="circle_filled.bmp" width="200">
		<img src="../static/img/KvagrsWork/4_week/circle_par.bmp" alt="circle_par.bmp" width="200">
		<img src="../static/img/KvagrsWork/4_week/ellipse_par.bmp" alt="ellipse_par.bmp" width="200">
		<img src="../static/img/KvagrsWork/4_week/equilateral_triangle.bmp" alt="equilateral_triangle.bmp" width="100">
	{% elif task == 'polygon' %}
		<img src="../static/img/KvagrsWork/4_week/polygon.bmp" alt="Irregular polygon in the plane" width="300">

	{% elif task == 'hide_and_seek' %}
		<img src="../static/img/KvagrsWork/4_week/skryvacka1.png" alt="skryvacka1.png" width="300">
		<img src="../static/img/KvagrsWork/4_week/solved1.png" alt="solved1.png" width="300">
		<img src="../static/img/KvagrsWork/4_week/skryvacka2.png" alt="skryvacka2.png" width="300">
		<img src="../static/img/KvagrsWork/4_week/skryvacka2.png" alt="skryvacka2.png" width="300">
		<img src="../static/img/KvagrsWork/4_week/skryvacka3.png" alt="skryvacka3.png" width="300">
		<img src="../static/img/KvagrsWork/4_week/solved3.png" alt="solved3.png" width="300">


	{% elif task == 'intersection' %}
		<img src="data:image/svg+xml;base64,{{ img_data }}" alt="intersection.svg" width="500">
		<form action="" method="get">
			Number: <input type="number" name="num" value="14"><br>
			Length: <input type="number" name="len" value="100"><br>
					<input type="submit" value="Draw!">
		</form>

	{% elif task == 'triangulation' %}
		<img src="data:image/svg+xml;base64,{{ img_data }}" alt="triangulation.svg" width="500">
		<form action="" method="get">
			Number: <input type="number" name="num" value="{{ value }}14"><br>
			Minimal lengths: <input type="checkbox" name="checkbox" value="True">
					<input type="submit" value="Draw!">
		</form>
	{% elif task == 'chaos_game' %}
		<img src="../static/img/KvagrsWork/6_week/sierpinski_triangle.bmp" alt="sierpinski_triangle.bmp" width="300">
		<form action="" method="get">
			Number of vertices: <input type="number" name="num"><br>
			Ratio: 				<input type="number" name="ratio">
		</form>

	{% endif %}

{% endblock %}

{% block side_container %}
<ol id="side_menu">
	<li>Week 1
		<ul class="side_menu">
			<li><a href="/kvapil/collatzo">Collatzo</a></li>
			<li><a href="/kvapil/graphics">Graphics</a></li>
		</ul>
	</li>
	<li>Week 2</li>

	<li>Week 3
		<ul class="side_menu">
			<li><a href="/kvapil/turtle">Turtle</a></li>
		</ul>
	</li>
	<li>Week 4
		<ul class="side_menu">
			<li><a href="/kvapil/shapes">Basic shapes</a></li>
			<li><a href="/kvapil/polygon">Polygon</a></li>
			<li><a href="/kvapil/hide_and_seek">Hide & seek</a></li>
		</ul>
	</li>
	<li>
		Week 5
		<ul class="side_menu">
			<li><a href="/kvapil/intersection">Intersection</a></li>
			<li><a href="/kvapil/triangulation">Triangulation</a></li>
		</ul>
	</li>
	<li>Week 6
		<ul class="side_menu">
			<li><a href="/kvapil/chaos_game">Chaos game</a></li>
		</ul>
	</li>
</ol>
{% endblock%}