{% extends "template.html" %}
{% block content %}
	{% if task == '' %}
		<p>Welcome. Please choose one of the tasks on the right.</p>

	<!-- TASK 1 -->
	{% elif task  in ['collatzo', 'ulam_spiral', 'gcd', 'basic_graphics'] %}
		{% include '/KvagrsWork/1_task/article_'+task+'.html' %}
		
	<!-- TASK 2 -->
	{% elif task == 'pascals_triangle' %}
		{% include '/KvagrsWork/2_task/article_'+task+'.html' %}			

	<!-- TASK 3 -->
	{% elif task in ['fractals', 'lib_turtle','basic_img'] %}
		{% include '/KvagrsWork/3_task/article_'+task+'.html' %}

	<!-- TASK 4 -->
	{% elif task in ['basic_shapes', 'effects', 'hide_and_seek', 'polygon' ] %}
		<!--<img src="../static/img/KvagrsWork/4_task/circle_filled.bmp" alt="circle_filled.bmp" width="200">
		<img src="../static/img/KvagrsWork/4_task/circle_par.bmp" alt="circle_par.bmp" width="200">
		<img src="../static/img/KvagrsWork/4_task/ellipse_par.bmp" alt="ellipse_par.bmp" width="200">
		<img src="../static/img/KvagrsWork/4_task/equilateral_triangle.bmp" alt="equilateral_triangle.bmp" width="100">-->
		{% include '/KvagrsWork/4_task/article_'+task+'.html' %}

	<!-- TASK 5 -->
	{% elif task == 'intersection' %}
		<img src="data:image/svg+xml;base64,{{ img_data }}" alt="intersection.svg" width="500">
		<form action="" method="get" name="nazevFunkce">
			Number: <input type="number" name="num" value="14"><br>
			Length: <input type="number" name="len" value="100"><br>
					<input class="drawButton" type="submit" value="Draw!">
		</form>

	{% elif task == 'triangulation' %}
		<img src="data:image/svg+xml;base64,{{ img_data }}" alt="triangulation.svg" width="500">
		<form action="" method="get">
			Number: <input type="number" name="num" value="{{ value }}14"><br>
			Minimal lengths: <input type="checkbox" name="checkbox" value="True">
					<input class="drawButton" type="submit" value="Draw!">
		</form>

	{% elif task == 'chaos_game' %}
		<img src="../static/img/KvagrsWork/6_task/sierpinski_triangle.bmp" alt="sierpinski_triangle.bmp" width="300">
		<!--<form action="" method="get">
			Number of vertices: <input type="number" name="num"><br>
			Ratio: 				<input type="number" name="ratio">
								<input	type="submit" value="Draw!">
		</form>-->

	<!-- TASK 6 -->
	{% elif task in ['feigenbaums_diagram', 'L_system' ] %}
		{% include '/KvagrsWork/6_task/article_'+task+'.html' %}

	<!-- TASK 7 -->
	{% elif task in ['complex_fractals'] %}
		{% include '/KvagrsWork/7_task/article_'+task+'.html' %}

	<!-- TASK 8 -->
	{% elif task in ['affine_transformation', 'examples'] %}
		{% include '/KvagrsWork/8_task/article_'+task+'.html' %}

	<!-- TASK 9 -->
	{% elif task in ['data_cluster', 'linear_regression', 'data_generator'] %}
		{% include '/KvagrsWork/9_task/article_'+task+'.html' %}

	<!-- TASK 10 -->
	{% elif task in ['number_maze', 'mazelib'] %}
		{% include '/KvagrsWork/10_task/article_'+task+'.html' %}

	<!-- TASK 11 -->
	<!--{% elif task in ['', ''] %}
		{% include '/KvagrsWork/11_task/article_'+task+'.html' %}-->

	{% else %}
		<p>
			We are sorry, this content is currently unavailable.
		</p>
	{% endif %}

{% endblock %}