{% extends "template.html" %}

{% block content %}

	<!-- TASK 1-->
	{% if task in ['collatzo','gcd','spirals','simple_graphics'] %}
		{% include 'JendasWork/1_task/article_' + task + '.html' %}
	<!-- TASK 2 -->
	{% elif task in ['pascals_triangle'] %}

		{% include 'JendasWork/2_task/article_' + task + '.html' %}
		<img src="data:image/svg+xml;base64,{{ img_data }}" alt="pascals_triangle.svg" width="500">
		<form action="" method="get">
			Number: <input type="number" name="n_layers" value="10"><br>
			Length: <input type="number" name="d" value="2"><br>
					<input type="submit" value="Draw!">
		</form>
	
	{% elif task in ['combinatory_number','exponentiation','ludolphine_number'] %}

		{% include 'JendasWork/2_task/article_' + task + '.html' %}

	<!-- TASK 3 -->
	{% elif task in ['Turtle','pictures', 'fractals'] %}
		{% include 'JendasWork/3_task/article_' + task + '.html' %}
	
	<!-- TASK 4 -->
	{% elif task in ['simple_shapes', 'polygon','effects','hide_and_seek'] %}
		{% include 'JendasWork/4_task/article_' + task + '.html' %}		
	
	<!-- TASK 5 -->
	{% elif task in ['intersection', 'triangulation', 'gift_wrapping']%}
		{% include 'JendasWork/5_task/article_' + task + '.html' %}

	<!-- TASK 6 -->	
	{% elif task in ['chaos_game','bifurcation','L-systems'] %}
		{% include 'JendasWork/6_task/article_' + task + '.html' %}

	<!-- TASK 7 -->	
	{% elif task in ['complex_fractals'] %}
		{% include 'JendasWork/7_task/article_' + task + '.html' %}

	<!-- TASK 8 -->	
	{% elif task in ['barnsley_fern','star','sierpinski_relatives'] %}
		{% include 'JendasWork/8_task/article_' + task + '.html' %}

	<!-- TASK 9 -->	
	{% elif task in ['linear_regression'] %}
		{% include 'JendasWork/9_task/article_' + task + '.html' %}

	<!-- TASK 10 -->	
	{% elif task in ['complex_fractals'] %}
		{% include 'JendasWork/10_task/article_' + task + '.html' %}

	<!-- TASK 11 -->	
	{% elif task in ['complex_fractals'] %}
		{% include 'JendasWork/11_task/article_' + task + '.html' %}

	{% endif %}
		
{% endblock %}
