{% extends "template.html" %}

{% block content %}

	<!-- TASK 1-->
	{% if task == 'collatzo' %}
		{% include 'Jenda/1_task/' + task + '.html' %}
	{% elif task == 'archimed_spiral' %}
		{% include 'Jenda/1_task/' + task + '.html' %}
	{% elif task == 'gcd' %}
		{% include 'Jenda/1_task/' + task + '.html' %}
	{% elif task == 'ulam_spiral'%}
		{% include 'Jenda/1_task/' + task + '.html' %}

	<!-- TASK 2 -->
	{% elif task == 'pascal' %}
		{% include 'Jenda/2_task/' + task + '.html' %}

	<!-- TASK 3 -->
	{% elif task == 'turtle' %}
		{% include 'Jenda/3_task/' + task + '.html' %}
	{% elif task == 'fractals' %}
		{% include 'Jenda/3_task/' + task + '.html' %}
		
	<!-- TASK 4 -->
	{% elif task == 'shapes' %}
		{% include 'Jenda/4_task/' + task + '.html' %}		
	{% elif task == 'polygon' %}
		{% include 'Jenda/4_task/' + task + '.html' %}		
	{% elif task == 'effects' %}
		{% include 'Jenda/4_task/' + task + '.html' %}		
	{% elif task == 'hide_and_seek' %}
		{% include 'Jenda/4_task/' + task + '.html' %}		
			
	{% endif %}
{% endblock %}
{% block side_container %}

<ol id="side_menu">
	<li>Task 1
		<ul class="side_menu">
			<li><a href="/plhak/collatzo">Collatzo</a></li>
			<li><a href="/plhak/archimed_spiral">Archimed spiral</a></li>
			<li><a href="/plhak/gcd">GCD</a></li>
			<li><a href="/plhak/ulam_spiral">Ulam spiral</a></li>
		</ul>
	</li>
	<li>Task 2
		<ul class="side_menu">
			<li><a href="/plhak/pascal">Pascal</a></li>
		</ul>
	</li>	
	<li>Task 3
		<ul class="side_menu">
			<li><a href="/plhak/turtle">Turtle</a></li>
		</ul>
	</li>
	<li>Task 4
		<ul class="side_menu">
			<li><a href="/plhak/shapes">Shapes</a></li>
			<li><a href="/plhak/polygon">Polygon</a></li>
			<li><a href="/plhak/effects">Effects</a></li>
			<li><a href="/plhak/hide_and_seek">Hide&Seek</a></li>
		</ul>
	</li>
</ol>
{% endblock%}