    <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Math in Python</title>

    <!-- linking the css stylesheet -->
    <link rel="stylesheet" href="../static/css/stylesheet.css"/>

    <!-- adding MathJax script for usage of math in LaTeX on the web -->
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
            // Enables using single dollars '$' for inline math mode next to double '$$'
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                processEscapes: true
            }
            });
    </script>

    <!-- adding script to higlight the code on the webpage -->
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script type="text/javascript">
        hljs.configure({tabReplace: '    '}); // 4 spaces
         // ... or
         //hljs.configure({tabReplace: '<span class="indent">\t</span>'});

         hljs.initHighlightingOnLoad();
    </script>

</head>
<body>
    <div id="header">
        <span id="headline"><a href="/home">math in python</a></span>
    </div>
    <div class="main_container">
        <!--<div class="header">
            <span id="headline"><a href="/home">math in python</a></span>
        </div>-->

        <div id="navbar">
            <ul>
                <li id="plhak">plhak</li>
                <li>
                    <div id="outerPlhak">
                        <div id="innerPlhak">
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                        </div>
                    </div>
                </li>
                <li id="kvapil">kvapil</li>
                <li>
                    <div id="outerKvapil">
                        <div id="innerKvapil">
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                            <div class="barTask"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        
        <div id="navTask"></div>    
        
        <div class="main_content">
            {% block content %}

            {% endblock %}
        </div>

        <div class="test"></div>
        <div class="bottom_container">
            <p id="bottom_paragraf">
                authors: Jan Plhak & Jan Kvapil<br>
                contact: quapka (auger) gmail.com
            </p>            
        </div>
    </div>

    <!-- jQuery, thanks google-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('.static', filename='jquery.js') }}">\x3C/script>')</script>

    <!-- my own script-->
    <script type="text/javascript" src="../static/script.js"></script>
</body>
</html>