{% extends "template.html" %}
{% block content %}
	<h2>Fractals</h2>
	<ul>
		<li class="task">
			<a href="/vinkler/fractals">fractals</a>
		</li>
		<li class="task">
			<a href="/vinkler/fractal_optimization">fractal optimization</a>
		</li>
	</ul>
	<h2>Complex systems</h2>
	<ul>
		<li class="task">
			<a href="/vinkler/l_systems">L-systems</a>
		</li>
		<li class="task">
			<a href="/vinkler/chaos_game">chaos game</a>
		</li>
		<li class="task">
			<a href="/vinkler/feigenbaum">bifurcation diagram</a>
		</li>
		<li class="task">
			<a href="/vinkler/mrcm">Multiple-reduction copy machines</a>
		</li>
	</ul>
	<h2>Mazes</h2>
	<ul>
		<li class="task">
			<a href="/vinkler/maze_generator">maze generator</a>
		</li>
		<li class="task">
			<a href="/vinkler/maze_solver">maze solver</a>
		</li>
	</ul>
{% endblock %}