<div class="picture">
<img src="../static/img/JendasWork/3_task/Testing_Pictures.svg" width="700" height="350" alt="Testing pictures">
<img src="../static/img/JendasWork/3_task/Various_pictures.svg" width="1200" height="500" alt="Various pictures">
</div>

<p>Click <a href="https://github.com/JendaPlhak/math_in_python/blob/master/JendasWork/3_task/test_fun.py">here</a> and
         <a href="https://github.com/JendaPlhak/math_in_python/blob/master/JendasWork/3_task/pictures.py">here</a> to see the code.</p>