<div class="picture">
<img src="../static/img/JendasWork/2_task/pascals_triangle.svg" alt="Pascals triangle" width="800">
</div>
<p>Click <a href="https://github.com/JendaPlhak/math_in_python/blob/master/JendasWork/1_task/pascals_triangle.py">here</a> to see the code.</p>
<!--<img src="data:image/svg+xml;base64,{{ img_data }}" alt="pascal.svg" width="500">

<form action="" method="get">
    Number of layers:   <input type="number" name="n_layers" value="50"><br>
    Modul:              <input type="number" name="d" value="2"><br>
    <input type="submit" value="Draw!">
</form>
-->