body {
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 0px;
    background-image: url(backgroundImage.jpg);
    font-family: sans-serif;
}
.main_container {
    background-color: #ffffff;

    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0 auto;

    border-radius: 10px 10px 0px 0px;
    border: solid 1px #225588;

    width: 900px;
    position: relative;
    min-height: 600px;
    height: auto;
    overflow: hidden;
}
#header {
    margin: 0 auto;
    /*margin-left: 500px;*/
    height: 60px;
    width: auto;
    color: #226688;
    /*display: inline-block;*/
    font: bold 50px sans-serif; 
    vertical-align: 10px;
    /*background-color: red;*/
    position: relative;
    text-align: center; 
}
#headline {
    padding-left: 500px;
    color: #226688;
    cursor: pointer;
}
#header #headline a {
    text-decoration: none;
    color: #226688;
}
#navbar {

    font-size: 20px;

    /*background-color: #f8f8f8; */
    margin-top: 0px;
    height: 50px;

    /*border-radius: 10px 10px 10px 10px;
    border: 2px solid #226688;*/
    position: relative;
    text-align: right;
}

#navbar ul{
    margin-top: 10px;
    padding-right: 40px;
}

#navbar ul li{
    list-style: none;
    display: inline-block;
    font: 25px sans-serif;
    padding-left: 10px;
    margin-bottom: -10px;
    height: 20px;
    position: relative;
}

.main_content {
    background-color: white;

    padding: 20px;
    

    border-radius: 10px 10px 5px 5px;
    min-height: 500px;
    height: auto;
    position: relative;
}

.bottom_container {
    text-align: right;
    font: bold 10px sans-serif;
    position: relative;
    height: auto;
}

#bottom_paragraf {
    color: gray;
    padding-right: 10px;
    position: relative;

}

#plhak, #kvapil {
    color:#225588;
    cursor: pointer;
    position: relative;
    width: auto;
    left: 0px;
    display: inline-block;
}

#outerPlhak, #outerKvapil {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: 0px;
    width: 0px;
    height: 30px;
    top:-10px;
}
#outerTaskPlhak {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: 0px;
    width: 0px;
    height: 30px;
    top:-13px;
}
#innerPlhak, #innerKvapil {
    display: inline-block;
    position: relative;
    width: 360px;
    right: -360px;
}
#innerTaskPlhak {
    display:inline-block;
    position: relative;
    width: 400px;
    right: -200px;
}
#taskPlhak .taskPlhak {
    display: inline-block;
    list-style: none;
}
.taskLink {
    list-style: none;
    text-decoration: none;
}

.barTask {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #d6d6d6;
    margin-left: 0px;
    border-radius: 5px;
}

.barTask:hover {
    cursor: pointer;
}

#navTask {
    margin:auto;
    width:100%;
    text-align:center;
    /*background-color: red;*/
}
.task {
    margin: 10px -4px 10px;
    min-width: 100px;
    padding: 16px 10px 10px;
    height:35px;
    line-height: 35px;
    display:inline-block;
    font: 20px sans-serif;
    border-radius: 5px;
    /*background-color: blue;*/
}
.task:hover{
    background-color: #d8d8d8;
}
.task a {
    text-decoration: none;
    color: #226688;
}
.menuCode {
    background: #226688;
    width: 260px;
    height: 30px;
    border-radius: 5px 5px;
}

.menuCode ul {
    padding-top: 5px;
    padding-left: 10px;
}

.menuCode ul li {
    padding-left: 10px;
    list-style: none;
    display: inline;
    cursor: pointer;
}

.menuCode ul li a {
    text-decoration: none;
    color: black;
}

.menuCode ul li a:hover, .menuCode ul li:hover {
    color: #223355;
}

.code{
    width: auto;
    overflow: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inline_img{
    text-align: center;
}
/*
 * Text for verbatim, colors, global links
 */

.verb {
    
    text-decoration: none;
    display: inline;
    font-family: "Courier" monospace;
}

a {
    text-decoration: none;
    color:inherit;
}


.drawCircle {

}

.drawButton {
    background-color: #226688;
    outline: 0px;
    border: 0px;
    width: 75px;
    height: 30px;
    border-radius: 5px 5px;
    cursor: pointer;
}

.drawButton:hover {
    color: red;
}